table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  /* th:en tete, tr:ligne,td:cellule  */
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  @media screen and (max-width: 576px)
  {h2 {font-size: 20px;}}  
  @media screen and (max-width:768)
  {h2
  {font-size :40px;}
    
  }